<section class="about" id="about">
  <div class="about-container" [ngClass]="{ visible: isVisible }">
    <img
      src="../../../assets/MyPhotos/WhatsApp Image 2024-03-28 at 6.08.57 AM.jpeg"
      alt="Your Name"
    />
    <div class="about-text">
      <h1 style="font-size: 36px; font-weight: bold">About Me</h1>
      <p>
        I am a <strong>full stack developer</strong> specializing in
        <strong>frontend development</strong> and design. I have created
        numerous designs using <strong>Figma</strong> and have worked on several
        projects utilizing <strong>Native JS</strong>,
        <strong>Angular</strong> and <strong>React</strong>. I am well-versed in
        various <strong>styling libraries</strong> including
        <strong>Bootstrap</strong>, <strong>Tailwind</strong>,
        <strong>Material UI</strong>, and <strong>Angular Material</strong>.
      </p>
      <p>
        I look forward to collaborating on your project and delivering the best
        results!
      </p>
      <h3 style="font-size: 24px; font-weight: bold">Skills</h3>
      <ul>
        <li>Javascript</li>
        <hr />
        <li>Angular</li>
        <hr />
        <li>React</li>
        <hr />
        <li>Figma Design</li>
        <hr />
        <li>Bootstrap</li>
        <hr />
        <li>Tailwind CSS</li>
        <hr />
        <li>Material UI</li>
        <hr />
        <li>Angular Material</li>
        <hr />
        <li>Nest.js</li>
        <hr />
        <li>Next.js</li>
      </ul>
    </div>
  </div>
</section>
