<section class="about" id="about">
  <div class="about-container" [ngClass]="{ visible: isVisible }">
    <img src="../../../assets/MyPhotos/me.jpg" alt="Your Name" class="about-image" />
    <div class="about-text">
      <h1>About Me</h1>
      <p>
        I am a <strong>full stack developer</strong> specializing in
        <strong>frontend development</strong> and design.
        <strong>I graduated from ITI 9-month professional training Web & User
          Interface Track.</strong>
        I have created numerous designs using <strong>Figma</strong> and have
        worked on several projects utilizing <strong>Native JS</strong>,
        <strong>Angular</strong>, <strong>React</strong>, <strong>Next</strong>, <strong>Node</strong> and <strong>Nest</strong>. I am well-versed in
        various <strong>styling libraries</strong> including
        <strong>Bootstrap</strong>, <strong>Tailwind</strong>,
        <strong>Material UI</strong>, and <strong>Angular Material</strong>.
      </p>
      <p>
        I look forward to collaborating on your project and delivering the best
        results!
      </p>
      <h3>Skills</h3>
      <ul style="display: flex; gap: 3rem; flex-wrap: wrap;">
        <li>Javascript</li>
        <li>Angular</li>
        <li>React</li>
        <li>Figma Design</li>
        <li>Bootstrap</li>
        <li>Tailwind CSS</li>
        <li>Material UI</li>
        <li>Angular Material</li>
        <li>Nest.js</li>
        <li>Next.js</li>
        <li>Node.js</li>
      </ul>
    </div>
  </div>
</section>
