<section class="projects" id="projects">
  <h2 style="font-weight: bold; font-size: 36px">Projects</h2>
  <div class="projects-grid">
    <div class="project-card" *ngFor="let project of projects">
      <img [src]="project.image" alt="{{ project.title }}" style="max-width: 100%;" />

      <h5 [ngClass]="{ state2: !project.state2 }">
        <span style="color: brown">Email:</span> {{ project.email }}
      </h5>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <h3>{{ project.title }}</h3>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>

          <p>{{ project.description }}</p>
          <p>
            <strong>Technologies:</strong> {{ project.technologies.join(", ") }}
          </p>

        </ng-template>
      </mat-expansion-panel>

      <h5 [ngClass]="{ state2: !project.state2 }">
        <span style="color: brown">Password:</span> {{ project.password }}
      </h5>

      <div style="display: flex; gap: 20px; justify-content: center">
        <a [ngClass]="{ disabled: !project.state }" [href]="project.liveDemo" target="_blank" class="btn">Live
          Demo</a>
        <a [href]="project.github" target="_blank" class="btn">GitHub</a>
      </div>

    </div>
  </div>
</section>
