<section class="hero" id="hero">
  <div class="hero-content">
    <h1>
      Hi, I’m <span style="color: #4e54c9">O</span>mar
      <span style="color: #4e54c9">H</span>assan –
      <span style="color: #4e54c9">F</span>ront-<span style="color: #4e54c9"
        >E</span
      >nd <span style="color: #4e54c9">W</span>eb
      <span style="color: #4e54c9">D</span>eveloper
    </h1>
    <p>Passionate about building beautiful and functional web applications.</p>
    <a href="#projects" class="btn">View My Work</a>
    <a href="#contact" class="btn">Contact Me</a>
  </div>
</section>
